<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Information System</h1>
    <h4>Click a link below to perform actions</h4>
    <p>
        <a href="/create">Create Entry</a>
    </p>
    <p>
        <a href="/delete">Delete Entry</a>
    </p>
    <p>
        <a href="/update">Update Entry</a>
    </p>
    <p>
        <a href="/report">Report</a>
    </p>
</body>
</html>