<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Number</title>
</head>
<body>
    <h1>Update Phone Number</h1>
    <form method="post">
        <p>
            <label for="identity">ID Number:</label>
            <input type="text" id="identity" name="identity">
        </p>
        <p>
            <label for="number">New Number:</label>
            <input type="text" id="number" name="number">
        </p>
        <p>
            <input type="submit" value="Update">
        </p>
    </form>
    
</body>
</html>